@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-Black.eot");
  src: url("../fonts/Merriweather-Black?iefix") format("eot"), url("../fonts/Merriweather-Black.woff") format("woff"), url("../fonts/Merriweather-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-Bold.eot");
  src: url("../fonts/Merriweather-Bold.eot?iefix") format("eot"), url("../fonts/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.eot");
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1116px;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
}

.logo-text {
  display: flex;
  text-decoration: none;
}

.logo-text h1 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
}

.logo-text img {
  margin-right: 30px;
}

.contact {
  display: flex;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
}

.contact img {
  margin-left: 42px;
  margin-right: 15px;
}

.contact a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: inherit;
  text-decoration: none;
}

.contact:first-child img {
  margin-left: 0;
}

.navigation-contacts {
  display: flex;
  justify-content: space-around;
  margin-left: 185px;
}

.navigation {
  display: flex;
  margin: 22px 0 31px 0;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-menu {
  display: flex;
  margin-top: 22px;
  margin-left: 185px;
  list-style-type: none;
}

.navigation-menu li a {
  margin-left: 68px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}

.navigation-menu li:first-child a {
  margin-left: 0;
}

.slider-section {
  position: relative;
  height: 670px;
}

.slider .slider-item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider .slider-item img {
  object-fit: cover;
  width: 100%;
  height: 670px;
  border: none !important;
  box-shadow: none !important;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.title {
  position: absolute;
  top: 170px;
  left: 405px;
  display: block;
  width: 589px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
}

.button {
  position: absolute;
  top: 367px;
  left: 405px;
  width: 270px;
  display: block;
  padding: 19px 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background: #005FA3;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
}

.slider-button {
  position: absolute;
  display: flex;
  top: 497px;
  right: 405px;
}

.slider-arrow {
  display: block;
  width: 10px;
  height: 11px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.right {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

button {
  outline: none;
  border: 0;
}

.arrow-bg {
  display: block;
  padding: 22px;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.6s ease;
}

.arrow-bg:hover, .arrow-bg:focus {
  background: rgba(255, 255, 255, 0.4);
}

.slider-dots {
  position: absolute;
  top: 547px;
  left: 405px;
  display: flex;
}

.dots {
  margin-right: 40px;
  display: block;
  width: 10px;
  height: 10px;
  align-self: flex-end;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.4;
  transition: 0.6s ease;
}

.dots:last-child {
  margin-right: 0;
}

.dots:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

.section-subtitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
}

.section-title {
  margin-top: 40px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.section-title span {
  display: block;
  color: #005FA3;
}

.services {
  padding: 140px 0 140px 0;
  background: #EBEBEB;
}

.services-cards {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.services-card {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.services-item {
  position: relative;
}

.services-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 99%;
  background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65));
  opacity: 0;
}

.services-item:hover:after {
  opacity: 1;
  cursor: pointer;
}

.services-title {
  position: absolute;
  top: 261px;
  left: 45px;
  z-index: 2;
  display: inline;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.about {
  padding: 140px 0 140px 0;
}

.about .container {
  display: flex;
  align-items: center;
}

.about-text {
  width: 40%;
}

.about-cards {
  margin-top: 134px;
  margin-left: 125px;
  width: 540px;
  height: 540px;
}

.about-description {
  margin-top: 60px;
  text-align: left;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-list li {
  margin-top: 30px;
  padding: 30px 0 40px 40px;
  display: block;
  width: 255px;
  height: 255px;
  background: #EBEBEB;
}

.about-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.about-subtitle {
  margin-top: 30px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.about-link {
  margin-top: 47px;
}

.about-link a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #005FA3;
}

.partners {
  position: relative;
  padding: 100px 0;
  background: #EBEBEB;
}

.partners .slider-buttons {
  display: flex;
  justify-content: space-between;
}

.partners .slider-button {
  position: absolute;
  display: flex;
  top: 497px;
  right: 405px;
}

.partners .slider-arrow {
  display: block;
  width: 10px;
  height: 11px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.partners .arrow-bg {
  display: block;
  padding: 22px;
  background: rgba(0, 95, 163, 0.2);
  transition: 0.6s ease;
}

.partners .arrow-bg:hover, .partners .arrow-bg:focus {
  background: #005fa3;
}

.partners .slider-dots {
  position: absolute;
  top: 520px;
  left: 405px;
  display: flex;
}

.partners .dots {
  margin-right: 40px;
  display: block;
  width: 10px;
  height: 10px;
  align-self: flex-end;
  background: #005FA3;
  border-radius: 50%;
  opacity: 0.4;
  transition: 0.6s ease;
}

.partners .dots:last-child {
  margin-right: 0;
}

.partners .dots:hover {
  opacity: 1;
}

.partners-slider {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */